<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=roboto+condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <title>Finstagram</title>
        </head>
<body>
 <header>
    <h1>Finstagram</h1>
 </header>
</body>

        <main role="main">
            <article>
                <article class= "post">
            
            <div class= "user-info">
                <img src="http://www.factslides.com/imgs/shark-blood.jpg">
                <h2>Shark M</h2>
                <h3>15 mins ago</h3>
            </div>
            <a class="photo" href= "#">
                <img src="http://www.thehorrorzine.com/Sharks/shark.jpg">
            </a>
            <div class= "actions">
                 0 likes
                 <span class="comment-count"> 0 comments</span>
             </div>
             <ul class= "comments">
                    <li>
                        <p>
                            Sharky M: Out for the long weekend.. too embarrassed to show your beach bod!
                        </p>
                    </li>
             </ul>
         </article>
</html>