<!doctype html>
<html>
    <head>
        <title>Finstagram</title>
        </head>
<body>
 <header>
    <h1>Finstagram</h1>
 </header>
</body>

        <main role="main">
            <article>
            <div>
                <img src="http://www.thehorrorzine.com/Sharks/shark.jpg">
                <h2>Shark M</h2>
                <h3>15 mins ago</h3>
            </div>
            </article>
         </main>
         
         <article>
             <div>
                 ...
                 <a href="#">
                     <img src="http://media.web.britannica.com/eb-media/15/65315-004-8FB6E3BE.jpg">
                 </a>
             </div>
         </article>
         <article>
             ...
             <div>
                 0 likes
                 <span> 0 comments</span>
             </div>
             <ul>
                    <li>
                        <p>
                            Sharky M: Out for the long weekend.. too embarrassed to show your beach bod!
                        </p>
                    </li>
             </ul>
         </article>
</html>